.best-good {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}

.best-good__header {
  margin: 0;
  margin-bottom: 8px;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: $black;
}

.best-good__best-of-the-week {
  margin: 0;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  color: $seafoam-blue;
}

.best-good__image {
  width: 260px;
  height: 315px;
  background: no-repeat url(../img/triple-set-mobile@1x.jpg);
}

.best-good__info {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: $greyish-brown;
}

.best-good__list {
  color: $greyish-brown;
  border-collapse: collapse;
}

.best-good__row {
  border-bottom: 1px solid $greyish-brown;
}

.best-good__price {
  align-self: center;
  margin-bottom: 28px;
  line-height: 1.41;
  letter-spacing: normal;
  font-size: 17px;
  font-weight: 700;
}

.best-good__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  margin: 0px 30px 36px 0px;
  border: solid 2px $greyish-brown;;
  background-color: $white;
  line-height: 1.41;
  letter-spacing: normal;
  font-size: 17px;
  font-weight: 700;
}

.best-good__block-end {
  width: 100%;
  height: 6px;
  margin-bottom: 36px;
  background: repeat url(../img/bg-zigzag-line.svg);
}

@media (max-width: 772px) {
  .best-good__image {
    width: 260px;
    height: 315px;
    background: no-repeat url(../img/triple-set-tablet@1x.jpg);
    background-position: center;
  }

  .best-good__header-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .best-good__best-of-the-week {
    order: 1;
    width: 70px;
    margin-right: 58px;
    text-align: center;
  }

  .best-good__header {
    order: 2;
    font-size: 53px;
    font-weight: bold;
    color: $black-two;
  }
}

@media (max-width: 772px) {
  .best-good__image {
    display: none;
  }

  .best-good {
    background: url(../img/triple-set-tablet@1x.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    margin-bottom: 70px;
  }

  .best-good__wrapper {
    width: 40%;
  }

  .best-good__info {
    margin-bottom: 66px;
  }

  .best-good__list {
    margin-bottom: 111px;
  }

  .best-good__price {
    text-align: center;
    margin-bottom: 34px;
  }

  .best-good__button {
    width: 100%;
    padding: 20px 0;
  }
}
