.info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 372px;
  background-image: url(../../img/hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  font-family: OpenSans;
  font-size: 26.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
}
