.main-nav__toggle {
  justify-self: flex-end;
  border: none;
  background-color: $white-four;
}

.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav__list {
  margin: 0;
}

@media (max-width: 772px) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__toggle {
    display: none;
  }
}
