.main-nav__toggle {
  justify-self    : flex-end;
  border          : none;
  background-color: $white-four;
}

.main-nav {
  display       : flex;
  flex-direction: column;
}

.main-nav__list {
  margin: 0;
}

.main-nav__delivery-info {
  display: none;
}

@media (max-width: 772px) {
  .main-nav__list {
    display  : flex;
    flex-wrap: wrap;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__delivery-info {
    display       : flex;
    line-height   : 1.6;
    letter-spacing: normal;
    color         : #444444;
  }
}
