.page-footer {
  display: flex;
  flex-direction: column;
  background: $white-two;
}

.page-footer__social {
  margin: 25px 0;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.page-footer__copyright-text {
  margin-right: 30px;
  font-size: 19px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.95;
  letter-spacing: normal;
  text-align: left;
  color: $black-two;
}

.page-footer__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__social-item {
  list-style-type: none;
  margin-right: 31px;

  &:last-child {
    margin-right: 0;
  }
}

.page-footer__main-logo {
  display: none;
}

.page-footer__academy-logo {
  display: none;
}

@media (max-width: 772px) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .page-footer__main-logo {
    display: block;
    width: 102px;
    height: 34px;
    background: url(../img/logo-footer.svg);
  }

  .page-footer__academy-logo {
    width: 27px;
    height: 34px;
    background: url(../img/htmlacademy.svg);
  }

  .copyright__link {
    display: none;
  }
}
