.site-list {
  padding: 0;
  list-style: none;
}

.site-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $white;
  padding: 32px 0;
  box-shadow: 0px 1px 0 0 $white-four, inset 0px 1px 0 0 $white-four;
}

.site-list__link {
  font-family: OpenSans;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  color: $black-two;
  text-decoration: none;
}

.site-list__item-image {
  margin-right: 31px;
}

@media (max-width: 772px) {
  .site-list__item {
    &:nth-child(3) {
      order: 1;
      width: 82px;
      border-left: 1px solid $white-two;
      border-right: 1px solid $white-two;
      .site-list__link {
        display: none;
      }
    }
    &:nth-child(4) {
      order: 2;
      .site-list__item-wrapper {
        display: flex;
        align-items: center;
        padding: 0 52px 0 31px;
      }
    }
    &:nth-child(1) {
      order: 3;
      margin-left: 52px;
      margin-right: 37px;
    }
    &:nth-child(2) {
      order: 4;
    }
  }
}
