$pinkish-grey: #cdcdcd;
$brownish-grey: #666666;
$peachy-pink: #ff8282;
$grass: #5eaa2f;
$white-30: rgba(255, 255, 255, 0.3);
$black-three-30: rgba(17, 17, 17, 0.3);
$greyish-brown-30: rgba(68, 68, 68, 0.3);
$white-three: #ebebeb;
$black-two-30: rgba(34, 34, 34, 0.3);
$white-60: rgba(255, 255, 255, 0.6);
$greeny-blue: #56c3b2;
$very-dark-brown: #010000;
$blue-green: #149080;
$white-two: #f1f1f1;
$white-four: #ececec;
$light-grey-blue: #81b3d2;
$black: #333333;
$white-four: #f1f1f1;
$black-three-60: rgba(17, 17, 17, 0.6);
$seafoam-blue: #63d1bb;
$white-five: #ededed;
$black-30: rgba(0, 0, 0, 0.3);
$white-20: rgba(255, 255, 255, 0.2);
$black-two: #000000;
$light-grey: #f2f2f2;
$lipstick: #d22856;
$green-apple: #81e31e;
$dark: #283645;
$dark-blue-grey: #192144;
$white: #ffffff;
$light-gold: #ffd74b;
$mango: #ff8d30;
$mango-two: #ffa530;
$greyish-brown: #444444;
$dark-slate-blue: #1d2e5b;
$leaf: #68b738;
$leafy-green: #3dc644;
$viridian: #1c9b5e;
